.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: arial;
}
.header-left-section{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  width: 500px;
}
.header-middle-section{
 font-size: 20px;
 font-weight: 700;
  flex: 1;
}
.header-middle-section a{
  text-decoration: none;
}
.header-right-section{
  padding-right: 60px;
}
.logo{
  width: 150px;
}